<li><a href="/user/logout">Sign-Out</a></li>
<li><a href="/user/profile">Profile</a></li>
<li>
    <a href="#">
        <div id="searcher" class="panel-collapse collapse clearfix">
            <form method="post" action="/search-for-item">
                <div class="row">
                    <input class="input-group-field small-6 columns" type="text" name="keyword" placeholder="Search" required>
                    <button class="button small-3 columns">Search</button>
                </div>
            </form>
        </div>
    </a>
</li>