<section>
    <div class="row">
        <div class="center-floater about">
            <h2>About Us <small>The <em>Mission</em> is there is no mission</small></h2>
            
        </div>
    </div>
</section>