<div class="row">
    <div class="left-floater">
        <h3 class="small-12 medium-12 large-12 columns contact-heading">Contact Us <small>Use snail-mail or call</small></h3>
        <p class="small-12 medium-12 large-12 columns contact-para contact-address">
            Compnay Name and Sub-Name<br>
            12345 Jump Street, Suite 6789</br>
            Philadelphia, PA 19100-2468,</br>
            484-922-3530
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.630027495842!2d-75.14686668430349!3d40.03903897941084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b77848b28efd%3A0xe43e3e1429729ba9!2sOlney+Transportation+Center!5e0!3m2!1sen!2sus!4v1492990855383" class="map" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="right-floater">
        <h3 class="small-12 medium-12 large-12 columns contact-heading">Send us a message <small>Web Mail</small></h3>
        <form method="post" action="/contact">
                 <div class="input-group">
                    <label>Required
                        <input class="input-group-field name" type="text" name="name"  placeholder="Name" >
                    </label>
                </div>
                
                <div class="input-group">
                    <label>Required
                        <input class="input-group-field email" type="email" name="email"  placeholder="Email" >
                    </label>
                </div>
                
                <div class="input-group">
                    <label>Optional
                        <input class="input-group-field subject" type="text" name="subject"  placeholder="Subject">
                    </label>
                </div>
                
                <div class="input-group">
                    <label>Required
                        <textarea class="input-group-field message" name="message" placeholder="Message" ></textarea>
                    </label>
                </div>
                
                <div class="input-group">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Submit">
                    </div>
                </div>
            </form>
    </div>
</div>
      