 {{#if hasErrors}}
   <div class="callout alert" data-closable>
    {{# each messages }}
        <p>{{this}}</p>
    {{/each }}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
   </div>
{{/if}}

<div class="row">
    <h1 class="header">Reset Password</h1>
    <form action="/user/forgot" method="post">
        <div class="input-group">
            <span class="input-group-label"><i class="fa fa-unlock" aria-hidden="true"></i></span>
            <input type="text" name="email" class="input-group-field" placeholder="Email" autofocus>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <!-- <input type="hidden" name="isAdmin" value="{{isAdmin}}"> -->
        <button type="submit" class="button">Reset</button>
    </form>    
</div>